from_latest_tag = false
ignore_merge_commits = false
ignore_fixup_commits = true
disable_changelog = false
disable_bump_commit = false
generate_mono_repository_global_tag = true
generate_mono_repository_package_tags = true
branch_whitelist = []
skip_ci = "[skip ci]"
skip_untracked = false
pre_bump_hooks = []
post_bump_hooks = []
pre_package_bump_hooks = ["sed -i 's/version: \".*\"/version: \"{{version}}\"/' martianbank/Chart.yaml"]
post_package_bump_hooks = []

[git_hooks]

[commit_types]

[changelog]
path = "CHANGELOG.md"
authors = []

[bump_profiles]

[packages.accounts]
path = "accounts"
pre_bump_hooks = ["sed -i 's/version = \".*\"/version = \"{{version}}\"/' pyproject.toml"]

[packages.atm-locator]
path = "atm-locator"
pre_bump_hooks = ["sed -i 's/\"version\": \".*\"/\"version\": \"{{version}}\"/' package.json"]

[packages.customer-auth]
path = "customer-auth"
pre_bump_hooks = ["sed -i 's/\"version\": \".*\"/\"version\": \"{{version}}\"/' package.json"]

[packages.dashboard]
path = "dashboard"
pre_bump_hooks = ["sed -i 's/version = \".*\"/version = \"{{version}}\"/' pyproject.toml"]

[packages.loan]
path = "loan"
pre_bump_hooks = ["sed -i 's/version = \".*\"/version = \"{{version}}\"/' pyproject.toml"]

[packages.transactions]
path = "transactions"
pre_bump_hooks = ["sed -i 's/version = \".*\"/version = \"{{version}}\"/' pyproject.toml"]

[packages.ui]
path = "ui"
pre_bump_hooks = ["sed -i 's/\"version\": \".*\"/\"version\": \"{{version}}\"/' package.json"]
