from_latest_tag = true
ignore_merge_commits = false
ignore_fixup_commits = true
disable_changelog = false
disable_bump_commit = false
generate_mono_repository_global_tag = true
generate_mono_repository_package_tags = true
branch_whitelist = []
skip_ci = "[skip ci]"
skip_untracked = false
pre_bump_hooks = ["sed -i 's/appVersion: \".*\"/appVersion: \"{{version}}\"/' martianbank/Chart.yaml"]
post_bump_hooks = []
pre_package_bump_hooks = []
post_package_bump_hooks = []

[git_hooks]

[commit_types]

[changelog]
path = "CHANGELOG.md"
authors = []

[bump_profiles]

[packages.accounts]
path = "accounts"
pre_bump_hooks = [
  "sed -i -E 's/version = \".*\"/version = \"{{version}}\"/' pyproject.toml",
  "sed -i -E 's/image: (.*):.*$/image: \\1:{{version}}/' ../martianbank/templates/accounts.yaml"
]

[packages.atm-locator]
path = "atm-locator"
pre_bump_hooks = [
  "sed -i -E 's/\"version\": \".*\"/\"version\": \"{{version}}\"/' package.json",
  "sed -i -E 's/image: (.*):.*$/image: \\1:{{version}}/' ../martianbank/templates/atm-locator.yaml"
]

[packages.customer-auth]
path = "customer-auth"
pre_bump_hooks = [
  "sed -i -E 's/\"version\": \".*\"/\"version\": \"{{version}}\"/' package.json",
  "sed -i -E 's/image: (.*):.*$/image: \\1:{{version}}/' ../martianbank/templates/customer-auth.yaml"
]

[packages.dashboard]
path = "dashboard"
pre_bump_hooks = [
  "sed -i -E 's/version = \".*\"/version = \"{{version}}\"/' pyproject.toml",
  "sed -i -E 's/image: (.*):.*$/image: \\1:{{version}}/' ../martianbank/templates/dashboard.yaml"
]

[packages.loan]
path = "loan"
pre_bump_hooks = [
  "sed -i -E 's/version = \".*\"/version = \"{{version}}\"/' pyproject.toml",
  "sed -i -E 's/image: (.*):.*$/image: \\1:{{version}}/' ../martianbank/templates/loan.yaml"
]

[packages.locust]
path = "locust"
pre_bump_hooks = [
  "sed -i -E 's/version = \".*\"/version = \"{{version}}\"/' pyproject.toml",
  "sed -i -E 's/image: (.*):.*$/image: \\1:{{version}}/' ../martianbank/templates/locust.yaml"
]

[packages.nginx]
path = "nginx"
pre_bump_hooks = [
  "echo \"{{version}}\" > VERSION.txt",
  "sed -i -E 's/image: (.*):.*$/image: \\1:{{version}}/' ../martianbank/templates/nginx.yaml"
]

[packages.transactions]
path = "transactions"
pre_bump_hooks = [
  "sed -i -E 's/version = \".*\"/version = \"{{version}}\"/' pyproject.toml",
  "sed -i -E 's/image: (.*):.*$/image: \\1:{{version}}/' ../martianbank/templates/transactions.yaml"
]

[packages.ui]
path = "ui"
pre_bump_hooks = [
  "sed -i -E 's/\"version\": \".*\"/\"version\": \"{{version}}\"/' package.json",
  "sed -i -E 's/image: (.*):.*$/image: \\1:{{version}}/' ../martianbank/templates/ui.yaml"
]
