name: "CI"

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      commit_sha: ${{ steps.set-sha.outputs.sha }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Release
        uses: cocogitto/cocogitto-action@v4
        with:
          command: bump
          args: --auto
          git-user: 'GitHub Action'
          git-user-email: 'actions@github.com'

      - name: Push
        run: |
          git push origin main
          git push --tags

      - name: Set Commit SHA
        id: set-sha
        run: |
          echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

  build:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        service:
          - name: ui
            context: ./ui
          - name: nginx
            context: ./nginx
          - name: customer-auth
            context: ./customer-auth
          - name: atm-locator
            context: ./atm-locator
          - name: dashboard
            context: .
          - name: accounts
            context: .
          - name: loan
            context: .
          - name: transactions
            context: .
          - name: locust
            context: ./locust

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          fetch-tags: true
          ref: ${{ needs.release.outputs.commit_sha }}

      - name: Check Version
        id: check
        run: |
          echo "INFO: Present git tags: \"$(git tag --points-at HEAD)\""
          if git tag --points-at HEAD | grep -q "^${{ matrix.service.name }}-"; then
            TAG=$(git tag --points-at HEAD | grep "^${{ matrix.service.name }}-")
            echo "INFO: Found git version tag ${TAG}"
            echo "version=${TAG#*-}" >> $GITHUB_OUTPUT
          else
            echo "INFO: No git version tag found"
          fi

      - if: ${{ steps.check.outputs.version }}
        name: Log in to Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - if: ${{ steps.check.outputs.version }}
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - if: ${{ steps.check.outputs.version }}
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          config-inline: |
            [worker.oci]
              max-parallelism = 2

      - if: ${{ steps.check.outputs.version }}
        name: Build and Push Images
        uses: docker/build-push-action@v3.3.0
        with:
          context: ${{ matrix.service.context }}
          file: ./${{ matrix.service.name }}/Dockerfile
          tags: ghcr.io/${{ github.repository }}-${{ matrix.service.name }}:${{ steps.check.outputs.version }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha
          push: true
